<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="ac:route" content="/">
  <base href="/">
  <!-- Required meta tags -->
  <title>Ivan's Webpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Custom CSS styles-->
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="/dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer></script>
</head>

<body class="style15" src="/assets/images/voltaichosting-gif.gif">


  <nav class="navbar navbar-expand-lg navbar-light justify-content-center align-items-center style29">
    <div id="collapse1" class="collapse navbar-collapse align-self-center style27 justify-content-center align-items-center">

      <button id="homebtn" class="btn align-self-center text-center style26 bg-transparent text-light">Home</button>
      <button id="productsbtn" class="btn align-self-center text-center style26 text-light bg-transparent mr-0" data-toggle="button">Products</button><button id="portfoliobtn" class="btn align-self-center text-center style26 bg-transparent text-light ml-0">Portfolio</button>
      <button id="blogbtn" class="btn align-self-center text-center style26 bg-transparent text-light ml-0">Blog</button>
    </div>
  </nav>
  <section class="style14">
    <div class="container bg-body">
      <div class="row justify-content-center">
        <h1 class="text-center text-light">Welcome</h1>
      </div>
      <h5 class="text-center font-weight-bold text-light style24">I am a Software Developer</h5>
      <h5 class="text-center font-weight-bold text-light style24"></h5>
    </div>
  </section>
  <div class="container text-center">
    <button id="contactmebtn" class="btn">Contact Me</button>
  </div>
  <div class="container">
    <h3 class="text-light text-center mt-5 mb-0">Current Projects</h3>
    <div class="contentArea"></div>
    <div class="d-block">
      <div class="contentArea"></div>
    </div>
  </div>
  <div class="container wappler-block pt-lg-4 pb-lg-4 style28 border rounded mt-3 mb-5 pb-0 border-white">
    <div class="row mb-lg-3">
      <div class="col-12 col-lg-6 mb-3">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="/assets/images/sectrpanelpreview.png" class="style49">
          </div>
          <div class="col-12 col-md-6">

            <h4 class="text-light">SECTR Security Platform</h4>
            <p class="text-light">Security as a Service (SECaaS) for&nbsp; small businesses.</p>
            <button id="btn4" class="btn style47">View</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <div class="row">
          <div class="col-12 col-md-6"><img class="wappler-type-picture w-100" src="/assets/images/voltaichosting-gif.gif">
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-light">Voltaic Hosting</h4>
            <p class="text-light">The path to Sustainable, Secure and Private Hosting.</p>
            <button id="btn1" class="btn style44">Website</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <div class="row">
          <div class="col-12 col-md-6"><img class="wappler-type-picture w-100">
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-light">Ivan's Tools</h4>
            <p class="text-light">Check out custom built tools!</p>
            <button id="btn3" class="btn style46">GitHub</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <div class="row">
          <div class="col-12 col-md-6"><img class="wappler-type-picture w-100" src="/assets/images/Screenshot 2022-09-30 192103.png">
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-light">Voltaic Panel V2</h4>
            <p class="text-light">Modified Pterodactyl Panel with a modern and user friendly theme.</p>
            <button id="btn2" class="btn style45">Access Panel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="style31 border-top">

    <div class="container">

      <div class="row text-center">

        <div class="col">
          <h2 class="text-light style38">Founded</h2>
          <h1 class="style32 text-light">Voltaic Hosting</h1>
          <h2 class="text-light">2022</h2>

          <img alt="image" class="img-fluid mt-5 style33" src="/assets/images/logo.png">
          <p class="text-light style39">Sustainable, Secure, Private Hosting Solutions</p>
        </div>
      </div>
    </div>
    <div class="container wappler-block pt-5 pb-5">
      <div class="row mb-5">
        <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">

          <p class="text-light font-weight-bold">Visit our website!</p>
          <button class="btn btn-primary">Voltaic.Host</button>
          <h4 class="text-light style40">Why Choose Voltaic Hosting?<br></h4>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-sm-6 col-md-3">
          <p class="text-light"><b>Secure</b></p>
        </div>
        <div class="text-center col-sm-6 col-md-3">
          <p class="text-light"><b>User Privacy</b></p>
        </div>
        <div class="text-center col-sm-6 col-md-3">
          <p class="text-light"><b>Reliable</b></p>
        </div>
        <div class="text-center col-sm-6 col-md-3">
          <p class="text-light"><b>Sustainable</b></p>
        </div>
      </div>
    </div>
  </main>
  <main class="style43">
    <div class="container">
      <img>
    </div>
  </main>
  <main></main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>